<accordion close-others="false">
	<accordion-group ng-repeat="order in orders">
		<accordion-heading>
			<div class="row">
				<div class="col-sm-6">
					{{::order.name}}
				</div>
				<div class="col-sm-6 text-right order-total">
					
				</div>
			</div>
		</accordion-heading>
	    <table class="table table-condensed table-bordered">
			<thead>
			<tr>
				<th>Product</th>
				<th style="width:100px;">Price</th>
				<th style="width:70px;">Qty</th>
				<th>Subtotal</th>
				<th style="width:230px;">Description</th>
				<th>Action</th>
			</tr>
			</thead>
			<tbody>
	    	<tr ng-repeat="item in order.items">
	    		<td>
					<img ng-src="{{::item.product.photos[0]}}" class="order-prod-img">
					<h5>{{::item.product.name}}</h5>
					<h6>{{::item.product.nameInChinese}}</h6>
				</td>
	    		<td class="form-inline">
					<div class="input-group">
				  		<div class="input-group-addon">&yen;</div>
			      		<input type="number" class="form-control" ng-model="item.price" style="width:70px;" id="ordered-price">
					</div>
				</td>
	    		<td class="form-inline">
	    			<input type="number" class="form-control" ng-model="item.number" style="width:50px;" id="ordered-number">
	    		</td>
	    		<td style="font-size:1.2em;">{{item.price * item.number | currency:'&yen;'}}</td>
				<td class="form-inline">
					<input type="text" class="form-control" ng-model="item.description" id="order-desc" style="width:200px;">
				</td>
				<td>
					<button class="btn btn-primary" ng-click="updateItem(order._id, item)"><i class="glyphicon glyphicon-ok"></i></button>
					<button class="btn btn-danger" ng-click="deleteItem(order, item)"><i class="glyphicon glyphicon-minus"></i></button>
				</td>
	    	</tr>
			</tbody>
	    </table>
		<div class="col-xs-12 text-right order-total">
			<label>Quantity: </label><span>{{totalQuantity(order)}}</span>
			<label>Amount: </label><span>{{totalAmount(order) | currency:'&yen;'}}</span>
		</div>
	</accordion-group>
</accordion>