<div>
	<h4>Price changes for last 7 days: </h4>
	<table ng-table="tableParams" show-filter="true" class="table table-condensed table-bordered">
		<tr ng-repeat="alert in $data">
			<td data-title="'Product'" filter="{ 'productName': 'text' }">
				<div class="price-alert-product">
					<img ng-src="{{alert.product.photos[0]}}" alt="{{alert.product.name}}">
					<div class="product-info">
						<h4 class="productName">{{::alert.productName}}</h4>
						<h5>{{::alert.product.nameInChinese}}</h5>
					</div>
				</div>
			</td>
			<td data-title="'Stores'">
				<div ng-repeat="store in alert.stores" class="price-alert-store">
					<img ng-src="/images/store-logo/{{storeMap[store.name].logo}}" alt="{{storeMap[store.name].fullName}}" class="store-logo">
					<span class="price price-{{::store.alertType}}">
						{{::store.newPrice | currency}}
						<i class="glyphicon glyphicon-arrow-{{::store.alertType}}"></i>
						{{priceDifference(store) | currency}}
					</span>
					(At {{::store.alertDate | date}})
					(was {{::store.oldPrice | currency}})
				</div>
			</td>
		</tr>
	</table>
</div>
