
	<div id="product-search">
	<form class="form-inline" role="search" id="search-form">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchText" ng-focus="clearSearch()" id="search-text" placeholder="Search" typeahead="term for term in productNames | filter:$viewValue | limitTo:10" typeahead-wait-ms="100" typeahead-min-length="2" typeahead-focus-first="false">
		    <div class="input-group-btn">
		        <button type="submit" ng-click="search($event)" class="btn btn-primary"><i class="fa fa-search"></i></button>
		    </div>
		</div>
	</form>
	</div>
	
	<div class="row" id="product-list" infinite-scroll="load()" infinite-scroll-distance="0" infinite-scroll-disabled="!shouldLoad()">
		
		<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="product in products">
		<div class="product-tile">
			<h4 class="productName">
				<a ng-if="editMode" href="#" editable-text="product.name" onaftersave="updateName(product)">{{product.name}}</a>
				<span ng-if="!editMode">{{product.name}}</span>
			</h4>
			<h5>
				<a href="#" ng-if="editMode" editable-text="product.nameInChinese" onaftersave="updateNameInChinese(product)">
				    {{product.nameInChinese || '点此输入中文名称'}}
				</a>
				<span ng-if="!editMode">{{product.nameInChinese || '暂无中文名'}}</span>
			</h5>
			
			<div class="col-xs-12 text-center">
				<img src="{{product.photos[0]}}" alt="{{product.name}}">
			</div>
			<div>
				<div>
					Category: 
					<a href="#" ng-if="editMode" editable-text="product.categoryStr" onaftersave="updateCategory(product)">
					    {{ product.categoryStr }}
					</a>
					<span ng-if="!editMode">{{ product.categoryStr }}</span>
				</div>
				<ul id="prices">
					<li>RRP: <span class="rrp">{{product.rrp | currency}}</span></li>
					<li ng-repeat="store in product.stores">
						<a href="{{store.detailUrl}}" target="_blank">{{store.storeName}}</a>
						<span class="price">{{store.price | currency}}</span>
						({{(product.rrp - store.price) / product.rrp | percentage:0}} off)
						(L:<span class="price">{{store.lowestPrice | currency}}</span>)
					</li>
					<li>
						<span><a href="http://s.taobao.com/search?q={{product.name}}&style=list" target="_blank">Taobao Price Indicator</a></span>
					</li>
				</ul>
				<div>
					Weight:
					<span ng-if="editMode">
						<input type="text" ng-model="product.weight" size="4" ng-change="updateWeight(product)" ng-model-options="{ updateOn: 'blur' }">g
					</span>
					<span ng-if="!editMode">{{product.weight}}g</span>, 
					
					<span ng-if="editMode"><input type="checkbox" ng-model="product.isHighTax" ng-change="updateTaxType(product)"> High tax</span>
					<span ng-if="!editMode">{{product.isHighTax ? 'High tax' : 'Low tax'}}</span>, 
					
					Postage: {{postage(product) | currency}}
				</div>
				<div>
					Calculated price: 
					<span class="price">{{calculatedPrice(product) | currency:'&yen;'}} </span>
					Profit:
					<span ng-style="{color: calculatedProfit(product) < 0 ? 'red' : 'black' }">{{calculatedProfit(product) | currency:'&yen;'}} ({{calculatedProfit(product) / costInRmb(product) | percentage:0}})</span>
				</div>
				<div ng-if="product.adjustedPrice">
					Adjusted price: 
					<span class="price">{{adjustedPrice(product) | currency:'&yen;'}} </span>
					Profit:
					<span ng-style="{color: adjustedProfit(product) < 0 ? 'red' : 'black' }">{{adjustedProfit(product) | currency:'&yen;'}} ({{adjustedProfit(product) / costInRmb(product) | percentage:0}})</span>
				</div>
			</div>
			
		</div>
		</div>
	</div>
	<div class="row" ng-show="scroll.busy">
		<div class="col-sm-12 text-center">
			<img id="spin-progress" src="images/spin-progress.gif" alt="Loading...">
		</div>
	</div>
