
	<div id="product-search">
	<form class="form-inline" role="search" id="search-form">
		<div class="input-group">
			<input type="text" class="form-control" ng-model="searchText" id="search-text" placeholder="Search"
				typeahead="product.name as product.name + ' (' + product.nameInChinese + ')' for product in engine.index.search($viewValue) | limitTo:10"
				typeahead-wait-ms="100" typeahead-min-length="1" typeahead-focus-first="false">
			<span class="searchclear glyphicon glyphicon-remove-circle" ng-show="searchText" ng-click="searchText = ''"></span>
		    <div class="input-group-btn">
		        <button type="submit" ng-click="search($event)" class="btn btn-primary"><i class="fa fa-search"></i></button>
		    </div>
		</div>
	</form>
	</div>

	<div class="row" id="listTypes">
		<div class="col-sm-12">
			<button class="btn" ng-class="bestselling ? 'btn-default': 'btn-primary'" ng-click="listLatest()">Latest products</button>
			<button class="btn" ng-class="bestselling ? 'btn-primary': 'btn-default'" ng-click="listBestsellings()">Bestsellings</button>
		</div>
	</div>
	<div class="row" id="product-list" infinite-scroll="load()" infinite-scroll-distance="0" infinite-scroll-disabled="!shouldLoad()">

		<div class="col-xs-12 col-sm-6 col-lg-4" ng-repeat="product in products">
		<div class="product-tile">

			<div>
				{{'P.CATEGORY' | translate}}:
				<a href="#" ng-if="editMode" editable-text="product.categoryStr" onaftersave="updateCategory(product)">
				    {{ product.categoryStr }}
				</a>

				<ol class="category-breadcrumb" ng-if="!editMode">
				  <li ng-repeat="c in product.category"><a href="#" ng-click="searchCategory(c)">{{c}}</a></li>
				</ol>
			</div>
			<h4 class="productName">
				<a ng-if="editMode" href="#" editable-text="product.name" onaftersave="updateName(product)">{{product.name}}</a>
				<span ng-if="!editMode">{{product.name}}</span>
			</h4>
			<h5>
				<a href="#" ng-if="editMode" editable-text="product.nameInChinese" onaftersave="updateNameInChinese(product)">
				    {{product.nameInChinese || '点此输入中文名称'}}
				</a>
				<span ng-if="!editMode">{{product.nameInChinese || '暂无中文名'}}</span>
			</h5>
			{{'P.RRP' | translate}}: <span class="rrp">{{product.rrp | currency}}</span>
			<div class="col-xs-12 text-center">
				<img src="/images/low-price.png" class="low-price-tag" ng-show="product.isLowPrice">
				<img src="{{product.photos[0]}}" alt="{{product.name}}" class="prod-img">
			</div>
			<div>
				{{'P.PRICE_IN_STORES' | translate}}:
				<a href="" ng-click="getNewPrices(product)">
					<i class="glyphicon glyphicon-refresh" ng-class="product.updatingPrice ? 'rotate' : ''"></i>
				</a>
				<span ng-if="product.lastPriceUpdated"> (at: {{product.lastPriceUpdated | date: 'dd/MM/yyyy h:mma'}})</span>
				<ul id="prices">
					<li ng-repeat="store in product.stores">
						<a href="{{store.detailUrl}}" target="_blank" title="{{storeMap[store.storeName].fullName}}"> <img ng-src="/images/store-logo/{{storeMap[store.storeName].logo}}" alt="{{store.storeName}}" class="store-logo"></a>
						<span class="price">{{store.price | currency}}</span>
						({{(product.rrp - store.price) / product.rrp | percentage:0}} off)
						({{'P.LOWEST_PRICE' | translate}}:<span class="price">{{store.lowestPrice | currency}}</span>)
					</li>
					<li>
						<span><a href="http://s.taobao.com/search?q={{product.name}}&style=list" target="_blank">{{'P.TAOBAO_PRICE' | translate}}</a></span>
					</li>
				</ul>
				<div>
					{{'P.WEIGHT' | translate}}:
					<span ng-if="editMode">
						<input type="text" ng-model="product.weight" size="4" ng-change="updateWeight(product)" ng-model-options="{ updateOn: 'blur' }">g
					</span>
					<span ng-if="!editMode">{{product.weight}}g</span>,

					<span ng-if="editMode"><input type="checkbox" ng-model="product.isHighTax" ng-change="updateTaxType(product)"> {{'P.HIGH_TAX' | translate}}</span>
					<span ng-if="!editMode">{{product.isHighTax ? 'P.HIGH_TAX' : 'P.LOW_TAX' | translate}}</span>,

					{{'P.POSTAGE' | translate}}: {{postage(product) | currency}}
				</div>
				<div>
					{{'P.CALC_PRICE' | translate}}:
					<span class="price">{{calculatedPrice(product) | currency:'&yen;'}} </span>
					{{'P.PROFIT' | translate}}:
					<span ng-style="{color: calculatedProfit(product) < 0 ? 'red' : 'black' }">{{calculatedProfit(product) | currency:'&yen;'}} ({{calculatedProfit(product) / costInRmb(product) | percentage:0}})</span>
				</div>
				<div ng-if="product.adjustedPrice">
					{{'P.ADJ_PRICE' | translate}}:
					<span class="price">{{adjustedPrice(product) | currency:'&yen;'}} </span>
					{{'P.PROFIT' | translate}}:
					<span ng-style="{color: adjustedProfit(product) < 0 ? 'red' : 'black' }">{{adjustedProfit(product) | currency:'&yen;'}} ({{adjustedProfit(product) / costInRmb(product) | percentage:0}})</span>
				</div>

				<div class="orderBtn">
					<button class="btn btn-info" ng-click="openOrderModal(product)"><i class="glyphicon glyphicon-shopping-cart"></i>
				</div>

				<div class="watchPrice">
						<i class="glyphicon" ng-click="toggleWatchPriceFlag(product)"
								ng-class="product.watchPrice ? 'glyphicon-eye-open watched' : 'glyphicon-eye-close unwatched'"></i>
				</div>
			</div>

		</div>
		</div>
	</div>
	<div class="row" ng-show="scroll.busy">
		<div class="col-sm-12 text-center">
			<img id="spin-progress" src="images/spin-progress.gif" alt="Loading...">
		</div>
	</div>

	<script type="text/ng-template" id="orderModal.html">
		<div class="modal-header">
            <h3 class="modal-title">Add item to order</h3>
        </div>
        <div class="modal-body">
            <div class="row">
            	<div class="col-sm-4 text-center">
            		<img src="{{product.photos[0]}}" alt="{{product.name}}" class="prod-img">
            	</div>
				<div class="col-sm-8">
					<h5>{{product.categoryStr}}</h5>
					<h4>{{product.name}}</h4>
					<h5>{{product.nameInChinese}}</h5>
				</div>
            </div>
			<div class="row">
				<form class="form-horizontal">
					<div class="form-group">
						<label for="order-name" class="col-sm-2 control-label">Order:</label>
						<div class="col-sm-10">

								<select style="width:300px;" class="form-control" ng-model="item.orderId" ng-disabled="item.newOrderName">
								  <option></option>
								  <option ng-repeat="o in activeOrderNames" value="{{o._id}}">{{o.name}}</option>
								</select>
								Or create new order:
								<input type="text" style="width:300px;" class="form-control" ng-model="item.newOrderName" placeholder="New order" ng-disabled="item.orderId">

						</div>
					</div>
					<div class="form-group">
					    <label for="ordered-price" class="col-sm-2 control-label">Price:</label>
					    <div class="col-sm-10">
							<div class="input-group">
						  		<div class="input-group-addon">&yen;</div>
					      		<input type="number" class="form-control" ng-model="item.price" style="width:100px;" id="ordered-price">
							</div>
					    </div>
					</div>
					<div class="form-group">
					    <label for="ordered-number" class="col-sm-2 control-label">Number:</label>
					    <div class="col-sm-10">
					      <input type="number" class="form-control" ng-model="item.number" style="width:132px;" id="ordered-number">
					    </div>
					</div>
					<div class="form-group">
					    <label for="order-desc" class="col-sm-2 control-label">Desc:</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" ng-model="item.description" id="order-desc" style="width:300px;">
					    </div>
					</div>
				</form>
			</div>
        </div>
        <div class="modal-footer">
			<button class="btn btn-default" ng-click="cancel()">Cancel</button>
            <button class="btn btn-primary" ng-click="addToOrder()">Order</button>
        </div>
	</script>
