<div class="row shipping-container">
	<div class="panel panel-success" id="orders">
		<div class="panel-heading row">
			 <i class="fa fa-server fa-2x"></i><span style="font-size:1.5em; padding-left:10px;">Orders</span>
		</div>
		<div class="panel-body">
		<accordion close-others="false">
			<accordion-group is-open="true" ng-repeat="order in orders">
				<accordion-heading>
					<div class="row">
						<div class="col-sm-12">
							{{::order.name}}
						</div>			
					</div>
				</accordion-heading>
				<ul class="shipping">
					<li ng-repeat="item in order.items" ng-click="selectItem(item)">
						<div class="row vertical-align">
							<div class="col-md-10 box" ng-model="order.items" data-drag="remainder(item) > 0" data-jqyoui-options="{revert: 'invalid', helper: 'clone', scroll: false, appendTo: '#boxes'}" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep'}" ng-class="boxClass(item)">
								<img ng-src="{{item.product.photos[0]}}" alt="{{item.product.name}}">
								{{item.product.name}} <br> {{item.product.nameInChinese}}
							</div>
							<div class="col-md-2">
								<span style="font-size:2em;">{{remainder(item)}}/{{item.number}}</span>
							</div>
						</div> 
					</li>
				</ul>
			</accordion-group>
		</accordion>
		</div>
	</div>
	
	<div class="panel panel-info" id="boxes">
		<div class="panel-heading row">
			<div class="col-sm-6">
				<i class="fa fa-dropbox fa-2x"></i><span style="font-size:1.5em; padding-left:10px;">Boxes</span>
			</div>
			<div class="col-sm-6 text-right">
				<a href="" ng-click="addNewBox()"><i class="fa fa-plus-circle fa-2x"></i></a>
			</div>
		</div>
		<div class="panel-body">
		<accordion close-others="false">
			<accordion-group is-open="true" ng-repeat="box in boxes">
				<accordion-heading>
					<div class="row">
						<div class="col-sm-6">
							{{box.trackingNumber || box.name}}  {{box.recipient}}
						</div>
						<div class="col-sm-6 text-right">
							<a href="" ng-click="confirmShip(box, $event)" ng-if="box.status === 'new' && !box.changed"><i class="glyphicon glyphicon-send"></i> Ship</a>
							<a href="" ng-if="box.status === 'new'" ng-class="box.changed ? '' : 'disabled'" ng-click="saveBox(box, $event)"><i class="glyphicon glyphicon-save"></i> Save</a>
							<a href="" ng-click="trackDelivery(box, $event)" ng-if="box.status === 'shipped'"> Track</a>
						</div>
					</div>
				</accordion-heading>
				
				<ul class="shipping" data-drop="true" ng-model='box.items' jqyoui-droppable="{multiple:true, onDrop:'drop(box)'}" style="width:100%; min-height:100px;">
				    <li ng-repeat="item in box.items" ng-click="selectItem(item)">
						<div class="row vertical-align">
							<div class="col-md-10 box" ng-class="selectedItem._id === item._id ? 'selected' : ''">
								<img ng-src="{{item.product.photos[0]}}" alt="{{item.product.name}}">
								{{item.product.name}} <br> {{item.product.nameInChinese}}
							</div>
							<div class="col-md-2">
								<a href="" ng-click="removeFromBox(box, $index, $event)"><i class="glyphicon glyphicon-minus" style="font-size:1.2em;"></i></a>
								<span style="font-size:2em;">{{box.itemCount[item._id]}}</span>
								<a href="" ng-click="addToBox(box, $index, $event)" ng-class="remainder(item) > 0 ? '' : 'disabled'"><i class="glyphicon glyphicon-plus" style="font-size:1.2em;"></i></a>
							</div>
						</div>
					</li>
					<li ng-if="box.items.length === 0" class="text-center" style="color: #eee; font-size:3em;">
						<i class="fa fa-caret-square-o-down"></i> Drop items here
					</li>
				</ul>
			</accordion-group>
		</accordion>
		</div>
	</div>
</div>

<script type="text/ng-template" id="shipBoxModal.html">
	<div class="modal-header">
        <h3 class="modal-title">Ship box</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="trackingNumber" class="col-sm-3 control-label">Track No.</label>
				<div class="col-sm-6">
        			<input id="trackingNumber" type="text" class="form-control" ng-model="box.trackingNumber" required>
				</div>
        	</div>
			<div class="form-group">
				<label for="recipient" class="col-sm-3 control-label">To</label>
				<div class="col-sm-6">
        			<input id="recipient" type="text" class="form-control" ng-model="box.recipient" required>
				</div>
        	</div>
			<div class="form-group">
				<label for="dateShipped" class="col-sm-3 control-label">Date</label>
				<div class="col-sm-6">
        			<input id="dateShipped" type="text" class="form-control" placeholder="yyyy/mm/dd" ng-model="box.dateShipped" required />
				</div>
        	</div>
        </form>
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="shipBox()">Ship</button>   
    </div>
</script>

<script type="text/ng-template" id="trackBoxModal.html">
	<div class="modal-header">
        <h3 class="modal-title">Track Delivery: {{box.trackingNumber}}</h3>
    </div>
    <div class="modal-body">
        <ul>
        	<li ng-repeat="event in history">{{event.time}}: {{event.event}}</li>
			<li ng-if="!loading && !history">Tracking data not found</li>
        </ul>
		<div class="row" ng-show="loading">
			<div class="col-sm-12 text-center">
				<img src="images/spin-progress.gif" alt="Loading...">
			</div>
		</div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">OK</button> 
    </div>
</script>
