<div class="row shipping-container">
	<div class="panel panel-success" id="orders">
		<div class="panel-heading row">
			 <i class="fa fa-server fa-2x"></i><span style="font-size:1.5em; padding-left:10px;">Orders</span>
		</div>
		<div class="panel-body">
		<accordion close-others="false">
			<accordion-group is-open="false" ng-repeat="order in orders"  ng-class="orderHeadingClass(order)">
				<accordion-heading>
					<div class="row">
						<div class="col-sm-8">
							{{::order.name}}
						</div>			
						<div class="col-sm-4 text-right">
							<a href="" ng-click="fulfill(order, $event)" ng-if="canFulfill(order)"><i class="glyphicon glyphicon-thumbs-up"></i> Fulfill</a>
						</div>
					</div>
				</accordion-heading>
				<ul class="shipping">
					<li ng-repeat="item in order.items" ng-click="selectItem(item)">
						<div class="row vertical-align">
							<div class="col-md-10 box" ng-model="order.items" data-drag="remainder(item) > 0" data-jqyoui-options="{revert: 'invalid', helper: 'clone', scroll: false, appendTo: '#boxes'}" jqyoui-draggable="{index: {{$index}}, animate: false, placeholder: 'keep'}" ng-class="boxClass(item)">
								<img ng-src="{{item.product.photos[0]}}" alt="{{item.product.name}}">
								{{item.product.name}} <br> {{item.product.nameInChinese}}
							</div>
							<div class="col-md-2">
								<span style="font-size:2em;">{{remainder(item)}}/{{item.number}}</span>
							</div>
						</div> 
					</li>
				</ul>
			</accordion-group>
		</accordion>
		</div>
	</div>
	
	<div class="panel panel-info" id="boxes">
		<div class="panel-heading row">
			<div class="col-sm-6">
				<i class="fa fa-dropbox fa-2x"></i><span style="font-size:1.5em; padding-left:10px;">Boxes</span>
			</div>
			<div class="col-sm-6 text-right">
				<a href="" ng-click="addNewBox()"><i class="fa fa-plus-circle fa-2x"></i></a>
			</div>
		</div>
		<div class="panel-body">
		<accordion close-others="false">
			<accordion-group is-open="box.open" ng-repeat="box in boxes" ng-class="boxHeadingClass(box)">
				<accordion-heading>
					<div class="row">
						<div class="col-sm-8">
							<span ng-if="box.status === 'new'">{{::box.name}}</span>
							<span ng-if="box.status !== 'new'">{{box.shippedDate | date:'yyyy/MM/dd'}} {{box.trackingNumber}}  {{box.recipient}}</span>
							
						</div>
						<div class="col-sm-4 text-right">
							<a href="" ng-click="confirmShip(box, $event)" ng-if="box.status === 'new' && !box.changed"><i class="glyphicon glyphicon-send"></i> Ship</a>
							<a href="" ng-click="confirmReceive(box, $event)" ng-if="box.status === 'shipped'"><i class="glyphicon glyphicon-import"></i> Receive</a>
							<a href="" ng-if="box.status === 'new'" ng-class="box.changed ? '' : 'disabled'" ng-click="saveBox(box, $event)"><i class="glyphicon glyphicon-save"></i> Save</a>
						</div>
					</div>
					<div ng-if="box.deliveryInfo.length > 0" class="row" style="font-size:0.8em; font-weight:normal; padding-top:5px; padding-left:20px;">
						<a href="" ng-click="trackDelivery(box, $event)" title="click to see details">
							{{box.deliveryInfo[box.deliveryInfo.length - 1].time}} : 
							{{box.deliveryInfo[box.deliveryInfo.length - 1].event}}
						</a>
					</div>
				</accordion-heading>
				
				<ul class="shipping" data-drop="true" ng-model='box.items' jqyoui-droppable="{multiple:true, onDrop:'drop(box)'}" style="width:100%; min-height:100px;">
				    <li ng-repeat="item in box.items" ng-click="selectItem(item)">
						<div class="row vertical-align">
							<div class="col-md-10 box" ng-class="selectedItem._id === item._id ? 'selected' : ''">
								<img ng-src="{{item.product.photos[0]}}" alt="{{item.product.name}}">
								{{item.product.name}} <br> {{item.product.nameInChinese}}
							</div>
							<div class="col-md-2" ng-if="box.status === 'new'">
								<a href="" ng-click="removeFromBox(box, $index, $event)"><i class="glyphicon glyphicon-minus" style="font-size:1.2em;"></i></a>
								<span style="font-size:2em;">{{box.itemCount[item._id]}}</span>
								<a href="" ng-click="addToBox(box, $index, $event)" ng-class="remainder(item) > 0 ? '' : 'disabled'"><i class="glyphicon glyphicon-plus" style="font-size:1.2em;"></i></a>
							</div>
							<div class="col-md-2" ng-if="box.status !== 'new'">
								<span style="font-size:2em;"> x {{box.itemCount[item._id]}}</span>
							</div>
						</div>
					</li>
					<li ng-if="box.items.length === 0" class="text-center" style="color: #eee; font-size:3em;">
						<i class="fa fa-caret-square-o-down"></i> Drop items here
					</li>
				</ul>
			</accordion-group>
		</accordion>
		</div>
	</div>
</div>

<script type="text/ng-template" id="shipBoxModal.html">
	<div class="modal-header">
        <h3 class="modal-title">Ship box</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
        	<div class="form-group">
				<label for="trackingNumber" class="col-sm-3 control-label">Track No.</label>
				<div class="col-sm-6">
        			<input id="trackingNumber" type="text" class="form-control" ng-model="box.trackingNumber" required>
				</div>
        	</div>
			<div class="form-group">
				<label for="recipient" class="col-sm-3 control-label">To</label>
				<div class="col-sm-6">
        			<input id="recipient" type="text" class="form-control" ng-model="box.recipient" required>
				</div>
        	</div>
			<div class="form-group">
				<label for="dateShipped" class="col-sm-3 control-label">Date</label>
				<div class="col-sm-6">
        			<input id="dateShipped" type="text" class="form-control" placeholder="yyyy/mm/dd" ng-model="box.dateShipped" required />
				</div>
        	</div>
        </form>
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="shipBox()">Ship</button>   
    </div>
</script>

<script type="text/ng-template" id="receiveBoxModal.html">
	<div class="modal-header">
        <h3 class="modal-title">Receive box</h3>
    </div>
    <div class="modal-body">
        <form class="form-horizontal">
			<div class="form-group">
				<label for="dateReceived" class="col-sm-3 control-label">Date</label>
				<div class="col-sm-6">
        			<input id="dateReceived" type="text" class="form-control" placeholder="yyyy/mm/dd" ng-model="box.dateReceived" required />
				</div>
        	</div>
        </form>
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Cancel</button>
        <button class="btn btn-primary" ng-click="receiveBox()">Receive</button>   
    </div>
</script>

<script type="text/ng-template" id="trackBoxModal.html">
	<div class="modal-header">
        <h3 class="modal-title">Track Delivery: {{box.trackingNumber}}</h3>
    </div>
    <div class="modal-body">
        <ul ng-if="box.deliveryUpdated" id="deliveryInfo">
			Updated at {{box.deliveryUpdated | date:'yyyy/MM/dd hh:mm:ss'}}
        	<li ng-repeat="event in box.deliveryInfo" class="row">
				<div class="col-sm-4">
					{{event.time}}
				</div> 
				<div class="col-sm-8">
					{{event.event}}
				</div>
			</li>
        </ul>
		<div ng-if="!box.deliveryUpdated">Tracking data not found</div>
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">Close</button> 
    </div>
</script>

<script type="text/ng-template" id="confirmationModal.html">
	<div class="modal-header">
        <h3 class="modal-title">{{title}}</h3>
    </div>
    <div class="modal-body">
        {{text}}
    </div>
    <div class="modal-footer">
		<button class="btn btn-default" ng-click="cancel()">No</button> 
		<button class="btn btn-primary" ng-click="confirm()">Yes</button>
    </div>
</script>
