<div class="table-responsive">
<table class="table table-bordered table-hover shoppingList">
	<thead>
		<tr class="info">
			<th>Product</th>
			<th style="width:350px;">Stores</th>
			<th style="width:80px;">Ordered</th>
			<th style="width:80px;">In stock</th>
			<th style="width:250px;">Buy</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="product in shoppingList">
			<td>
				<img ng-src="{{::product.photos[0]}}" class="order-prod-img">
				<h5>{{::product.name}}</h5>
			</td>
			<td>
				<ul class="store">
					<li ng-repeat="store in product.stores">
						<a href="{{store.detailUrl}}" target="_blank" title="{{storeMap[store.storeName].fullName}}"> <img ng-src="/images/store-logo/{{storeMap[store.storeName].logo}}" alt="{{store.storeName}}" class="store-logo"></a>
						<span class="price">{{store.price | currency}}</span>
						({{(product.rrp - store.price) / product.rrp | percentage:0}} off)
						({{'P.LOWEST_PRICE' | translate}}:<span class="price">{{store.lowestPrice | currency}}</span>)
					</li>
				</ul>
			</td>
			<td><span class="salesInfo">{{product.salesInfo.orderedActive || 0}}</span></td>
			<td><span class="salesInfo">{{product.salesInfo.inStock || 0}}</span></td>
			<td>
				<form class="form-inline" name="buy-{{product._id}}">
					<input type="number" ng-model="quantity" class="form-control" style="width:50px;"> 
					<span>&times;</span>
					<div class="input-group">
						<span class="input-group-addon">$</span>
						<input type="number" step="any" ng-model="price" class="form-control" style="width:75px;">
					</div>
					<button class="btn btn-primary" ng-click="buy(product, quantity, price)">Buy</button>
				</form>
			</td>
		</tr>
	</tbody>
</table>
</div>