body { padding-top: 70px; }

input[type='text'],
input[type='number'],
textarea {
  font-size: 16px;
}

.menu-desc {
	display: none;
}

@media (min-width:768px){
	#search-text {
		width: 300px;
	}
	.product-tile {
		height: 450px;
	}
	
	#product-search {
		position: fixed;
		z-index: 1050;
		top: 0px;
		right: 100px;
		padding-top: 8px;
	}
}

@media (min-width:992px){
	#search-text {
		width: 500px;
	}
}

@media (max-width: 768px) {
	#product-search {
		width:100%;
		padding-right:30px;
		position: fixed;
		z-index: 1000;
	}
	
	#product-list {
		margin-top: 30px;
	}
	
	.menu-desc {
		display: inline;
		padding-left: 10px;
	}
}

@media (max-width: 480px) {
	.col-xs-12 {
		padding: 5px;
	}
	
}

.searchclear {
    position: absolute;
    right: 45px;
    top: 0;
    bottom: 0;
    height: 16px;
    margin: auto;
    font-size: 16px;
    cursor: pointer;
    color: #ccc;
	z-index: 200;
}

.product-tile {
	padding: 10px;
	margin-top: 20px;
	
	/* outer shadows  (note the rgba is red, green, blue, alpha) */
	-webkit-box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.4); 
	-moz-box-shadow: 0px 1px 6px rgba(23, 69, 88, .5);

	/* rounded corners */
	-webkit-border-radius: 12px;
	-moz-border-radius: 7px; 
	border-radius: 7px;

	/* gradients */
	background: -webkit-gradient(linear, left top, left bottom, 
	color-stop(0%, white), color-stop(15%, white), color-stop(100%, #D7E9F5)); 
	background: -moz-linear-gradient(top, white 0%, white 55%, #D5E4F3 130%);
}

.product-tile .prod-img {
	height: 150px;
	width: 150px;
	margin-bottom: 10px;
}

.store-logo {
	height: 16px;
	width: 50px;
}

.product-tile .low-price-tag {
	z-index: 100;
	position: absolute;
	width: 100px;
	margin-left:20px;
	top: 0px;
	left: 50%;
	opacity: 0.8;
}

.product-tile .orderBtn {
	z-index: 100;
	position: absolute;
	right: 30px;
	bottom: 10px;
	opacity: 0.8;
}

.modal-body .prod-img {
	height: 100px;
	weight: 100px;
}

.rrp {
	text-decoration: line-through;
	font: bold 1em verdana;
	color: red;
}

.price {
	font: bold 1em verdana;
	color: green;
}

.table > tbody > tr > td[rowspan] {
	vertical-align: middle;
}

#priceListResult {
	padding-right: 20px;
}

#spin-progress {
	margin-top: 10px;
	height: 30px;
	width: 30px;
}

.form-inline .form-group {
	display: inline-block;
	vertical-align: middle;
}

.input-group-xs>.form-control,
.input-group-xs>.input-group-addon,
.input-group-xs>.input-group-btn>.btn {
    height: 22px;
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
}

.input-xs {
    height: 22px;
    padding: 5px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.navbar-right > li > a {
	padding: 12px 10px 10px 15px;
}

.category-breadcrumb {
	display: inline;
	padding: 8px 15px;
	margin-bottom: 20px;
	list-style: none;
}

.category-breadcrumb > li {
	display: inline-block;
}

.category-breadcrumb > li+li:before {
    content: ">"; 
	padding: 0 5px;
	color: #ccc;
}

.order-prod-img {
	height: 50px;
	width: 50px;
	float: left;
	margin-right:20px;
}

.alert {
	width: 300px;
	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 100px;
	z-index:2000;
}

.shoppingList .orderItems {
	padding: 0 !important;
}

.shoppingList .orderItems > div {
	padding:5px;
}

.order-total span {
	font-size: 1.2em;
	padding: 0px 5px;
}

ul.store {
	list-style: none;
	padding-left: 10px;
}

.salesInfo {
	font-size: 2em;
	font-weight: bold;
}